@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.body{
  background-color: rgb(8, 8, 8);
}
.search-box{
  display: none;
  transition: all  0.3s ease-in-out;
  width: 400px;
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(20px);
color: white;
outline: none;
border: none;
padding: 5px;
padding-left: 20px;
}
.new-aligntype{
  display: flex;
  gap: 20px;
  align-items: center;
}
.city-list{
  text-decoration: none;
}
.ul{
  margin-top: 15px;
margin-left: 30px;
}
.xmark{
  display: none;
  object-fit: cover;

}
.search-box:hover{
  cursor: pointer;
}

.head-contain{
    background-image: url(./images/headerpng.png);
    height: 100vh;     
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.logo-link{
  text-decoration: none;
  color: white;
}
.menu{
  display: none;
}
.links-type{
  color: var(--White, #FFF);
font-family: "Gilroy",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 20.8px */
}
.logo-link:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
  
}
.dropdown {   
    position: relative;
    display: inline-block;
    padding: 20px;
  }
  
  .dropdown-content {
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(15px);

grid-template-columns: 1fr 1fr 1fr;
  }
  .dropdown-content p span{
    margin-left: 10px;
  }
  .religions-mapcontext{
    display: flex;
    align-items: center;
    gap: 20px;
   
  }
  .new-dropdown{
    width: 200px;
   
  }
  .religion-map{
    margin-top: 10px
  }
  .religion-map h3{
    color: var(--White, #FFF);
font-family: "Gilroy",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 20.8px */
margin-top: 0px;

  }
.religion-map p{
    color: rgba(182, 172, 172, 0.6);
font-family: "Gilroy",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
margin-top: -2px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .no-collecton{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #07091C -4.12%, rgba(7, 9, 28, 0.60) 49.39%, rgba(7, 9, 28, 0.20) 85.78%, #07091C 100%);
    
  }
  .nav-collection{
    color: white;
    padding-top: 20px;

  }
  .for-foto{
    background-image: url(./images/vector1.png);
    background-repeat: no-repeat;
  }
  .logo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  .ul a:hover{
    text-decoration: none;
    color: #f7f3f3;
   
  }
  .logo-header{
    gap: 10px;
  }
.text1{
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 5px;
}
.text2{
    font-size: 14px;
    margin-top: -5px;
}
.dropdown img{
    border-radius: 50%;

}
.dropdown span{
 
    width: 200px;
}
.search{
    padding: 20px;
}
.info-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.info-p{
    margin-top: 15px;
}
.info-facts1{
    justify-self: center;
    /* background-color: red; */
    /* width: 300px; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

font-family: "Gilroy",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 26px */
}
.info-facts2{
font-feature-settings: 'liga' off, 'calt' off;
text-shadow: 0px 10px 50px rgba(12, 15, 48, 0.40);
font-family: "Playfair Display",serif;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 104px */
text-transform: capitalize;
}
.info-facts3{
    width: 63%;

text-align: center;
font-family: "Gilroy",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 26px */
}
.info-facts4{
    width:15% ;
    height: auto;
    display: flex;
/* padding: 20px; */
align-items: center;
gap: 4px;
font-size: 20px;
border-radius: 8px;
background:  #E54545;
padding-left: 40px;

}
.info-facts4 p{
    margin-top: 14px;
 
font-family: "Gilroy",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
}
.info-facts6{
    text-decoration: none;
color: white;
}
.rightarrow{
    object-fit: cover;
    font-size: 9px;
}
.info-facts4{
  background-color: #d32727;
  cursor: pointer;
 
}